<section className="bg-white">
    <div className="container">
        <div className="row justify-content-center">
            <div className="col-12 col-md-8">
                <div className="media">
                    <div className="media-body">
                        <div className="mb-3">
                            <h1 className="h2 mb-2">{{Product.name}}</h1>
                            <span className="text-muted"><i className="icon-location"></i>Category: {{Product.category.name}}</span>
                            <br>
                            <span className="text-muted"><i className="icon-location"></i>Brand: {{Product.brand.name}}</span>
                            <br>
                            <span className="text-muted"><i className="icon-location"></i>Price: {{Product.price}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-12 col-md-16">
    <div class="card">
        <ul class="list-group list-group-flush list-group-comments">

            <li class="list-group-item py-4" *ngFor = "let c of comments">
                <div class="media">
                    <img alt="img" src="assets/img/avatar-female-2.jpg" class="avatar avatar-sm" />
                    <div class="media-body">
                        <div class="mb-2">
                            <span class="h6 mb-0">{{c.user.username}}</span>
                        </div>
                        <p *ngIf = "!changeComment[getArrayIdForComment(c)]">
                            {{c.message}}
                        </p>
                        <input type="text" placeholder = "change me" *ngIf = "changeComment[getArrayIdForComment(c)]" [(ngModel)] = "changeCommentMessages[getArrayIdForComment(c)]"/>
                    </div>
                </div>
                <button (click) = "deleteComment(c)" class = "btn btn-danger">Delete comment</button>
                <button class = "btn btn-primary" (click) = "updateComment(c)"> Change comment</button>
            </li>
        </ul>
        <input type="text" [(ngModel)] = "commentAddText" style = "margin: 20px 0;" placeholder = "add comment"/>
        <button class = "btn btn-primary" (click) = "addComment()">Add comment</button>
    </div>
</div>