<div class="main-container">
  <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
      <!--end of container-->
  </nav>
  <section>
      <div class="container">
          <div class="row justify-content-center align-items-center">
              <div class="col">
                  <div class="media align-items-center">
                      <div class="media-body">
                          <div class="mb-3">
                              <h1 class="h2 mb-2">Products</h1>
                              <span>Useful for listing associated members of a group</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
  <!--end of section-->
  <section class="flush-with-above">
      <div class="container">
          <div class="row">
              <div class="col">
                  <table class="table table-hover align-items-center table-borderless">
                      <thead>
                          <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col"></th>
                              <th scope="col"></th>
                          </tr>
                      </thead>
                      <tbody>

                          <tr class="bg-white">
                              <th scope="row">
                                  <a variant="outline-success" class="media align-items-center" href="#">
                                      <img alt="Image" src="assets/img/graphic-product-pipeline-thumb.jpg" class="avatar" />
                                      <div class="media-body">
                                          <span class="h6 mb-0">Khalat
                                          </span>
                                      </div>
                                    </a>
                              </th>
                              <td>daniel.cameron@wingman.co</td>
                              <td>
                                  <a variant="outline-success" class="media align-items-center" routerLink="/product-comment" routerLinkActive="active">
                                    Comment
                                </a>
                              </td>
                              <td>
                                  <a variant="outline-success" class="media align-items-center" routerLink="/product-comment" routerLinkActive="active">
                                    Buy
                                </a>
                              </td>
                          </tr>
                          <tr class="table-divider"></tr>
                          <tr class="bg-white">
                              <th scope="row">
                                  <div class="media align-items-center">
                                      <img alt="Image" src="assets/img/graphic-product-pipeline-thumb.jpg" class="avatar" />
                                      <div class="media-body">
                                          <span class="h6 mb-0">Shlepki
                                          </span>
                                      </div>
                                  </div>
                              </th>
                              <td>daniel.cameron@wingman.co</td>
                              <td>
                                  <a variant="outline-success" class="media align-items-center" routerLink="/product-comment" routerLinkActive="active">
                                    Comment
                                </a>
                              </td>
                              <td>
                                  <a variant="outline-success" class="media align-items-center" routerLink="/product-comment" routerLinkActive="active">
                                    Buy
                                </a>
                              </td>
                          </tr>
                          <tr class="table-divider"></tr>
                          <tr class="bg-white">
                              <th scope="row">
                                  <div class="media align-items-center">
                                      <img alt="Image" src="assets/img/graphic-product-pipeline-thumb.jpg" class="avatar" />
                                      <div class="media-body">
                                          <span class="h6 mb-0">Kepka
                                          </span>
                                      </div>
                                  </div>
                              </th>
                              <td>daniel.cameron@wingman.co</td>
                              <td>
                                  <a variant="outline-success" class="media align-items-center" routerLink="/product-comment" routerLinkActive="active">
                                    Comment
                                </a>
                              </td>
                              <td>
                                  <a variant="outline-success" class="media align-items-center" routerLink="/product-comment" routerLinkActive="active">
                                    Buy
                                </a>
                              </td>
                          </tr>
                          <tr class="table-divider"></tr>
                          <tr class="bg-white">
                              <th scope="row">
                                  <div class="media align-items-center">
                                      <img alt="Image" src="assets/img/graphic-product-pipeline-thumb.jpg" class="avatar" />
                                      <div class="media-body">
                                          <span class="h6 mb-0">Saukele
                                          </span>
                                      </div>
                                  </div>
                              </th>
                              <td>daniel.cameron@wingman.co</td>
                              <td>
                                  <a variant="outline-success" class="media align-items-center" routerLink="/product-comment" routerLinkActive="active">
                                    Comment
                                </a>
                              </td>
                              <td>
                                  <a variant="outline-success" class="media align-items-center" routerLink="/product-comment" routerLinkActive="active">
                                    Buy
                                </a>
                              </td>
                          </tr>
                          <tr class="table-divider"></tr>
                                                      
                      </tbody>
                  </table>
              </div>
              <!--end of col-->
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
  <!--end of section-->
</div>





