<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <!--end of container-->
    </nav>
    <section>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <div class="mb-3">
                                <h1 class="h2 mb-2">Basket</h1>
                                <span>Useful for listing associated members of a group</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above">
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table table-hover align-items-center table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
  
                            <tr class="bg-white">
                                <th scope="row">
                                    <a variant="outline-success" class="media align-items-center" routerLink="/products" routerLinkActive="active" >
                                        <img alt="Image" src="assets/img/graphic-developer-bootstrap.png" class="avatar" />
                                        <div class="media-body">
                                            <span class="h6 mb-0">GUCCI
                                            </span>
                                        </div>
                                      </a>
                                </th>
                                <td>daniel.cameron@wingman.co</td>
                            </tr>
                            <tr class="table-divider"></tr>
                            <tr class="bg-white">
                                <th scope="row">
                                    <a variant="outline-success" class="media align-items-center" routerLink="/products" routerLinkActive="active">
                                        <img alt="Image" src="assets/img/graphic-developer-bootstrap.png" class="avatar" />
                                        <div class="media-body">
                                            <span class="h6 mb-0">ARMANI
                                            </span>
                                        </div>
                                    </a>
                                </th>
                                <td>daniel.cameron@wingman.co</td>
                            </tr>
                            <tr class="table-divider"></tr>
                            <tr class="bg-white">
                                <th scope="row">
                                    <a variant="outline-success" class="media align-items-center" routerLink="/products" routerLinkActive="active">
                                        <img alt="Image" src="assets/img/graphic-developer-bootstrap.png" class="avatar" />
                                        <div class="media-body">
                                            <span class="h6 mb-0">ARMANI
                                            </span>
                                        </div>
                                    </a>
                                </th>
                                <td>daniel.cameron@wingman.co</td>
                            </tr>
                            <tr class="table-divider"></tr>
                            <tr class="bg-white">
                                <th scope="row">
                                    <a variant="outline-success" class="media align-items-center" routerLink="/products" routerLinkActive="active">
                                        <img alt="Image" src="assets/img/graphic-developer-bootstrap.png" class="avatar" />
                                        <div class="media-body">
                                            <span class="h6 mb-0">ARMANI
                                            </span>
                                        </div>
                                    </a>
                                </th>
                                <td>daniel.cameron@wingman.co</td>
                            </tr>
                            <tr class="table-divider"></tr>
                                                        
                        </tbody>
                    </table>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
  </div>
  

  
  
  
  
  